.commentcount{
    font-size: 20px;
    color: #69f;
}
.commentuser{
    border-bottom: solid #9966 1px;
}
.commentimg{
    margin: 5px;
}
.commentname{
    margin-top: 20px;
    margin-bottom: 5px;
}
.commenttime{
    padding-top: 20px;
}
.comentlike{
    color: #999;
    margin-top: 5px;
}
.icon{
    font-size: 18px;
    margin-right: 6px;
    cursor: pointer;
}
.icon:hover{
    color: #2aabd2;
}
.hrcss{
    margin-top: 1px;
}
.h4css{
    margin-top: 30px;
}
.questiontitle{
    margin-top: 30px;
}
.publish_user{
    margin-top: 50px;
}