.commentcount{
    font-size: 20px;
    color: #69f;
}
.commentuser{
    border-bottom: solid #9966 1px;
}
.commentimg{
    margin: 5px;
}
.commentname{
    margin-top: 20px;
    margin-bottom: 5px;
}
.commenttime{
    padding-top: 20px;
    color: #0f0f0f;
}
.comentlike{
    color: #999;
    margin-top: 5px;
}
.icon{
    font-size: 18px;
    margin-right: 6px;
    cursor: pointer;
}
.imgcss{
    width: 40px;
    height: 40px;
}
.namecss{
    color: #155faa;
}
.active{
    color: #2aabd2;
}
.icon:hover{
    color: #2aabd2;
}
.hrcss{
    margin-top: 1px;
}
.h4css{
    margin-top: 30px;
}
.questiontitle{
    margin-top: 30px;
}
.publish_user{
    margin-top: 50px;
}
.login{
    margin-left: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.inputtext{
    margin-top: 40px;
    margin-bottom: 15px;
}
.bordercss{
    border: solid #9966 1px;
    margin-bottom: 25px;
    margin-top: 10px;
    border-radius: 5px;
}
.secondcomment{
    margin-bottom: 15px;
}