.commentcount{
    font-size: 20px;
    color: #69f;
}
.commentuser{
    border-bottom: solid #9966 1px;
}
.commentimg{
    margin: 5px;
}
.commentname{
    margin-top: 20px;
    margin-bottom: 5px;
}
.commenttime{
    padding-top: 20px;
    color: #0f0f0f;
}
.comentlike{
    color: #999;
    margin-top: 5px;
}
.icon{
    font-size: 18px;
    margin-right: 6px;
    cursor: pointer;
}
.imgcss{
    width: 40px;
    height: 40px;
}
.namecss{
    color: #155faa;
}
.active{
    color: #2aabd2;
}
.icon:hover{
    color: #2aabd2;
}
.hrcss{
    margin-top: 1px;
}
.h4css{
    margin-top: 30px;
}
.questiontitle{
    margin-top: 30px;
    margin-left: 15px;
}
.media-heading2{
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 15px;
}
.publish_user{
    margin-top: 50px;
}
.login{
    margin-left: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.inputtext{
    margin-top: 40px;
    margin-bottom: 15px;
}
.bordercss{
    border: solid #9966 1px;
    margin-bottom: 25px;
    margin-top: 10px;
    border-radius: 5px;
}
.secondcomment{
    margin-bottom: 15px;
}
.tagcss{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.edit{
    margin-left: 15px;
    font-size: 12px;
    color: gray;
}
.ulrelatedquestion{
    padding-left: 0px;
}
.relatedquestion{
    font-size: 17px;
    list-style: none;
}
.relatedquestionlink{
}
.relatedquestionlink:hover{
    color: #5e5e5e;
}
.hidetag{
    display: none;
}
.showtag{
    display: block;
}
.showtagcss{
    margin-left: 5px;
}
.label{
    white-space: normal;
}
.repliescss{
    background-color: firebrick;
}
.notification{
    color: #2aabd2;
}
.pagecss{
    margin-left: 400px;
}
.notificationdate{
    margin-top: 10px;
    margin-bottom: -20px;
}
.anonymous{
    margin-bottom: 5px;
}
.secondanno{
    margin-left: 650px;
}
.copyright{
    margin-left: 40%;
    color: #0f0f0f;
}
.java{
    background-color: whitesmoke;
}
.java:hover{
    background-color: #2aabd2;
}
.copyrightimg{
    width: 20px;
    height: 20px;
}
.indexli{
    font-size: 15px;
    list-style: none;
}