<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>错误页面</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body style="background-color: #efefef">
<div style="margin-left: 40%;">
    <div class="jumbotron">
        <h1>出错了！！！</h1>
        <p>服务出错了,请多次尝试</p>
        <p><a class="btn btn-primary btn-lg" th:href="@{/}" role="button">返回首页</a></p>
    </div>
</div>
</body>
</html>