<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JAVA论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script type="application/javascript">
        window.onload = function () {
            var close = window.localStorage.getItem("close");
            if (close == "true") {
                window.localStorage.removeItem("close");
                window.parent.opener.location.reload();  //刷新父页面
                window.close();  //关闭本页面
            }
        }
    </script>
</head>
<body style="background-color: #efefef">
<div th:replace="~{bar::copy}"></div>
<div class="container-fluid" style="margin: 20px;background-color:white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"> 发现</span></h3>
            <hr>
            <!--bootstrap中的媒体中-->
            <div class="media" th:each="publishDTOS: ${publishDTOS}">
                <div class="media-left">
                    <a th:href="${publishDTOS.user.avatarUrl}">
                        <img class="media-object img-thumbnail" style="width: 40px;height: 40px;"
                             th:src="${publishDTOS.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${publishDTOS.id}}" th:text="${publishDTOS.title}"></a>
                    </h4>
                    <span style="font-size: 12px;font-weight: normal;color:#999;"> [[${publishDTOS.likeCount}]] 人点赞 • [[${publishDTOS.commentCount}]] 个回复 • [[${publishDTOS.viewCount}]] 次浏览 • <span
                            th:text="${#dates.format(publishDTOS.gmtCreate,'yyyy-MM-dd hh:mm')}"></span>
                    </span>
                </div>
                <hr style="margin-top: 10px;margin-bottom: 5px;">
            </div>
            <nav aria-label="Page navigation" style="margin-left: 400px;">
                <ul class="pagination">
                    <li th:if="${!pageInfo.isIsFirstPage()}">
                        <a th:href="@{/(pageNum=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="nums:${nums}" th:class="${nums==pageInfo.getPageNum()}? 'active'">
                        <a th:href="@{/(pageNum=${nums})}">[[${nums}]]</a>
                    </li>
                    <li th:if="${!pageInfo.isIsLastPage()}">
                        <a th:href="@{/(pageNum=${pageInfo.getPages()})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>

        </div>
    </div>
</div>
</body>
</html>