<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${selectName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body style="background-color: #efefef">
<div th:replace="~{bar::copy}"></div>
<div class="container-fluid" style="margin: 20px;background-color:white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3>[[${selectName}]]</h3>
            <hr>
            <div class="media" th:each="publishList: ${publishList}" th:if="${publishList!=null}">
                <!--图像展示略-->
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/publish/'+${publishList.id}}"> [[${publishList.title}]]</a>
                    </h4>
                    <span style="font-size: 12px;font-weight: normal;color:#999;">回复了问题 • [[${publishList.likeCount}]] 人关注 • [[${publishList.commentCount}]] 个回复 • [[${publishList.viewCount}]] 次浏览 • <span
                            th:text="${#dates.format(publishList.gmtCreate,'yyyy-MM-dd hh:mm')}"></span>
                        </span>
                </div>
                <hr style="margin-top: 10px;margin-bottom: 5px;">
            </div>
            <!--分页-->
            <nav aria-label="Page navigation" class="pagecss" th:if="${publishList!=null}">
                <ul class="pagination">
                    <li th:if="${!profilePageInfo.isIsFirstPage()}">
                        <a th:href="@{'/profile/'+${question}(pageNum=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="nums:${nums}" th:class="${nums==profilePageInfo.getPageNum()}? 'active'">
                        <a th:href="@{'/profile/'+${question}(pageNum=${nums})}">[[${nums}]]</a>
                    </li>
                    <li th:if="${!profilePageInfo.isIsLastPage()}">
                        <a th:href="@{'/profile/'+${question}(pageNum=${profilePageInfo.getPages()})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--通知信息-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${publishList==null}">
                <div th:each="notificationDTO:${notificationDTOS}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <sapn class="notification" th:text="${notificationDTO.user.name}"></sapn>&nbsp;
                    <sapn th:text="${notificationDTO.name}"></sapn>&nbsp;
                    <span class="notification" >
                        <a th:href="@{'/notification/'+${notificationDTO.id}}" th:text="${notificationDTO.publish!=null?notificationDTO.publish.title:notificationDTO.comment.context}"></a>
                        <span class="label label-danger" th:if="${notificationDTO.status==0}">未读通知</span>
                    </span>
                    <div class="notificationdate">
                        <span th:text="${#dates.format(notificationDTO.gmtCreate,'yyyy-MM-dd hh:mm')}"></span>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${notificationDTOS!=null}">
                <div class="pagecss">
                    <nav aria-label="Page navigation">
                        <ul class="pagination" >
                            <li th:if="${!notificationPageInfo.isIsFirstPage()}">
                                <a th:href="@{'/profile/'+${question}(pageNum=1)}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:each="num:${nums}" th:class="${num==notificationPageInfo.getPageNum()}? 'active'">
                                <a th:href="@{'/profile/'+${question}(pageNum=${num})}">[[${num}]]</a>
                            </li>
                            <li th:if="${!notificationPageInfo.isIsLastPage()}">
                                <a th:href="@{'/profile/'+${question}(pageNum=${notificationPageInfo.getPages()})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--右侧-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group" style="margin-top: 25px;">
                <a th:href="@{/profile/question}"
                   th:class="${selectName=='我的问题'}? 'active list-group-item':'list-group-item'">
                    我的问题
                </a>
                <a th:href="@{/profile/replies}" th:class="${selectName=='通知消息'}? 'active list-group-item':'list-group-item' ">
                    通知消息
                    <span class="badge" th:text="${session.unreadCount}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>