<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${publishDTO.getTitle()}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/comment.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
</head>
<body style="background-color: #efefef">
<div th:replace="~{bar::copy}"></div>
<div class="container-fluid" style="margin: 20px;background-color:white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3 class="questiontitle">[[${publishDTO.getTitle()}]]</h3>
            <div class="media-body">
                <span class="media-heading2">
                    作者 <span style="color: #155faa; ">[[${publishDTO.user.name}]]</span> |
                    发布时间 <span th:text="${#dates.format(publishDTO.gmtCreate,'yyyy-MM-dd')}"></span> |
                    阅读数 <span>[[${publishDTO.viewCount}]]</span>
                </span>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                [[${publishDTO.description}]]
                <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <span th:each="tag:${publishDTO.tag.split(',')}">
                       <span class="label label-info glyphicon glyphicon-tags tagcss">
                           <span th:text="${tag}"></span>
                       </span>
                    </span>
                </div>
                <hr>
                <div th:if="${session.user!=null}">
                    <a th:href="@{'/publish/'+${publishDTO.id}}">
                        <span class="glyphicon glyphicon-edit edit"
                              th:if="${session.user.name==publishDTO.user.name}">编辑</span></a>
                    <br><br>
                </div>
                <!--评论列表展示-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="commentcount">[[${publishDTO.commentCount}]] 个回复</span>
                    <hr>
                    <div th:each="commentDTO:${commentDTOS}">
                        <div class="media commentuser">
                            <div class="media-left">
                                <a th:href="${commentDTO.user.avatarUrl}" class="commentimg">
                                    <img class="media-object img-thumbnail" style="width: 40px;height: 40px;"
                                         th:src="${commentDTO.user.avatarUrl}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h6 class="commentname">
                                    <span style="color: #155faa;" th:text="${commentDTO.user.name}"></span>
                                </h6>
                                <span th:text="${commentDTO.context}"></span>
                                <div th:if="${session.user!=null}" class="comentlike">
                                    <span class="glyphicon glyphicon-thumbs-up icon" onclick="likeCount()"></span>
                                    <span class="glyphicon glyphicon-comment icon" th:id="${commentDTO.id}"
                                          th:data-id="${commentDTO.id}" onclick="collapseComment(this)"
                                          th:text="${commentDTO.commentCount!=0?commentDTO.commentCount:''}">
                                    </span>
                                    <span class="pull-right commenttime"
                                          th:text="${#dates.format(commentDTO.gmtCreate,'yyyy-MM-dd')}"></span><br>
                                </div>
                                <!--二级评论-->
                                <div th:if="${session.user!=null}" class="collapse" th:id="${'comment'+commentDTO.id}">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bordercss"
                                         th:id="${'twolevel'+commentDTO.id}">
                                        <!-- 二级评论展示追加-->
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control inputtext" placeholder="评论点什么吧..."
                                                   th:id="${'second'+commentDTO.id}">
                                            <button type="button" class="btn btn-info pull-right secondcomment"
                                                    th:data-second="${commentDTO.id}" onclick="secondcommment(this)">评论
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <span class="pull-right commenttime" th:if="${session.user==null}"
                                      th:text="${#dates.format(commentDTO.gmtCreate,'yyyy-MM-dd')}"></span><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${session.user==null}" class="login col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    先登录后评论 <a href="#" onclick="login()">去登陆</a>
                </div>
                <!-- 用户图像-->
                <div th:if="${session.user!=null}" id="comment_section" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="h4css">评论回复</h4>
                    <hr class="hrcss">
                    <div class="media">
                        <div class="media-left">
                            <a th:href="${session.user.avatarUrl}">
                                <img class="media-object img-thumbnail" style="width: 40px;height: 40px;"
                                     th:src="${session.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading" style="padding-top: 10px;">
                                <span style="color: #155faa;" th:text="${session.user.name}"></span>
                            </h6>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${publishDTO.id}">
                    <textarea class="form-control" rows="5" style="margin-top: 15px;"
                              id="comment_context"></textarea><br>
                    <button type="button" style="float: right;margin-bottom: 15px" class="btn btn-primary"
                            onclick="postcomment()">回复
                    </button>
                </div>
            </div>

        </div>
        <!--右侧-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="publish_user">发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a th:href="${publishDTO.user.avatarUrl}">
                            <img class="media-object img-thumbnail" style="width: 40px;height: 40px;"
                                 th:src="${publishDTO.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading" style="padding-top: 10px;">
                            <span style="color: #155faa;" th:text="${publishDTO.user.name}"></span>
                        </h6>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="ulrelatedquestion">
                    <li class="relatedquestion" th:each="publishList,publishListStat:${publishList}" th:if="${publishListStat.index<10}">
                        <a class="relatedquestionlink" th:href="@{'/question/'+${publishList.id}}">[[${publishList.title}]]</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>